* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding-top: 60px;
}

header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px 30px;
    color: #000000;
    font-size: 20px;
    box-shadow: rgba(152, 157, 168, 0.25) 0px 10px 24px 0px;
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
}

section#main {
    background: #fefefe;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    flex-basis: 100%;
}

@media screen and (min-width: 1024px) {
    .col {
        flex: 1;
    }
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
    .col {
        flex-basis: 50%;
    }
}

.container {
    max-width: 1136px;
    margin: auto;
    margin-top: 30px;
}

@media screen and (max-width: 1024px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.card {
    max-width: 300px;
    margin: auto;
    margin-top: 30px;
    box-shadow: rgba(152, 157, 168, 0.25) 0px 5px 50px 0px;
}

.card > .thumbnail-container {
    max-height: 150px;
    overflow: hidden;
}

.card img.post-thumbnail {
    width: 100%;
}

.card > article {
    padding: 0px 15px 20px;
}

.card .post-title {
    font-size: 18px;
    margin-bottom: 0px;
}

.card > article .post-meta {
    font-size: 14px;
    margin-top: 10px;
}

.card > article p {
    color: #333;
    font-weight: 500;
}

.card > article div.author-meta {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card > article div.author-meta img{
    border-radius: 25px;
    margin-right: 12px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.card > article div.author-meta span{
    font-size: 14px;
}

.card > article > a.btn {
    background: #eee;
    display: block;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    color: #333333;
    font-weight: 600; 
    text-decoration: none;
    transition: background .2s, color .3s; 
}

.card > article > a.btn:hover {
    background: #000000;
    color: #fff;
}

[data-loading="true"] .card .post-title, [data-loading="true"] .card .post-meta{
    background: #ccc;
    height: 18px;
}

[data-loading="true"] .card .post-meta ~ p {
    background: #ccc;
    height: 80px;
}

[data-loading="true"] .card {
    overflow: hidden;
    position: relative;
}

[data-loading="true"] .card::after {
    animation: shine .5s ease-in-out  infinite;
    animation-fill-mode: forwards;  
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    
    background: rgba(255, 255, 255, 0.8);
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.5) 77%,
        rgba(255, 255, 255) 92%,
        rgba(255, 255, 255) 100%
    );
}

@keyframes shine{
    10% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}

/* POST */

.container.post-container .post-title {
    font-size: 50px;
    text-align: center;
}

.container.post-container figure {
    margin: 50px 0px;
    text-align: center;
}

.container.post-container figure figcaption {
    margin-top: 10px;
}

.container.post-container figure.alignwide img {
    width: 100%;
    height: auto;
}

.container.post-container figure.aligncenter img {
    display: block;
    margin: auto;
}

.container.post-container p {
    font-size: 18px;
}

.container.post-container blockquote {
    margin: 30px auto;
}

.container.post-container blockquote p{
    color: #999;
    font-style: italic;
    font-size: 22px;
}

.container.post-container[data-loading="true"] .post-title {
    height: 40px;
    background: #ccc;
}

.container.post-container[data-loading="true"] .image-placeholder {
    height: 300px;
    background: #ccc;
}

.container.post-container[data-loading="true"] p {
    height: 18px;
    background: #ccc;
}
